<a href="https://colab.research.google.com/github/Phu-Vu-01/IBM-DS/blob/main/DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mục mới Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:



1.   Pythong
2.   R
3.   SQL

**Objectives:**

- List popular languages for Data Science.
- Identify key open-source tools used in Data Science.
- Understand the basic concepts of data wrangling and analysis.
- Learn how to use Jupyter Notebook for interactive programming.
- Explore data visualization techniques.

Some of the commonly used libraries used by Data Scientists include:



1.   Numpy
2.   Pandas
3.   Matpolib

### Below are a few examples of evaluating arithmetic expressions in Python

Data Science Tools

---
Jupyter Notebook

---
RStudio

---
Apache Zeppelin

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minute = 200
hours = minute / 60
hours

3.3333333333333335


## Author
Phu